name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        dotnet-version: [ '3.1.x', '6.0.x' ]

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET Core SDK ${{ matrix.dotnet-version }}
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: ${{ matrix.dotnet-version }}
    - name: Install dependencies
      run: dotnet restore ./src
    - name: Build
      run: dotnet build --configuration Release --no-restore ./src
    - name: Test
      run: dotnet test --no-restore --verbosity normal ./src
    - name: Build the Docker image
      run: cd src; docker build . --file ./Dockerfile --tag azenixwebinar.azurecr.io/blazingpizza:1.0.${{github.run_number}}
    - name: ACR Login
      uses: Azure/docker-login@v1
      with:        
        login-server: azenixwebinar.azurecr.io
        username: ${{ secrets.ACR_USERNAME }}
        password: ${{ secrets.ACR_PASSWORD }}
    - name: Push to ACR
      run: docker push azenixwebinar.azurecr.io/blazingpizza:1.0.${{github.run_number}}
      
